<div class="rates-card">
  <div class="convert-select-container">
    <label class="label" for="purchase-value">Currency to convert from:</label>
    <select
      [(ngModel)]="convertFrom"
      (ngModelChange)="onConvertFromChange($event)"
    >
      <option disabled>Select currency</option>
      <option
        *ngFor="let currency of currencies"
        [value]="currency.id"
        [hidden]="currency.id === convertFrom"
      >
        {{ currency.id }} - {{ currency.name }}
      </option>
    </select>
  </div>

  <div class="convert-select-container">
    <label class="label" for="purchase-value">Currency to convert to:</label>
    <select [(ngModel)]="convertTo" (ngModelChange)="onConvertToChange($event)">
      <option disabled>Select currency</option>
      <option
        *ngFor="let currency of currencies"
        [value]="currency.id"
        [hidden]="currency.id === convertTo"
      >
        {{ currency.id }} - {{ currency.name }}
      </option>
    </select>
  </div>

  <div class="base-exchange-container">
    Current exchange rate: 1 {{ convertFrom }} =
    <span *ngIf="exchangeRates">
      {{ exchangeRates.conversion_rates[convertTo].toFixed(2) }}
      {{ convertTo }}
    </span>
  </div>

  <div class="costs-container">
    <label class="label" for="purchase-value">Your purchase costs:</label>
    <input
      id="purchase-value"
      [(ngModel)]="purchaseCosts"
      (ngModelChange)="onCostsChange()"
      type="number"
    />
    <span>{{ convertFrom }}</span>
    <span *ngIf="exchangeRates && purchaseCosts">
      = {{ convertPurchaseValue().toFixed(2) }} {{ convertTo }}
    </span>
  </div>

  <div class="costs-container">
    <label class="label" for="purchase-value">Your shipping costs:</label>
    <input
      id="shipping-costs"
      [(ngModel)]="shippingCosts"
      (ngModelChange)="onCostsChange()"
      type="number"
    />
    <span>{{ convertFrom }}</span>
    <span *ngIf="exchangeRates && shippingCosts">
      = {{ convertShippingCosts().toFixed(2) }} {{ convertTo }}
    </span>
  </div>

  <div class="total-costs">
    Total costs: {{ getTotalCosts().toFixed(2) }} {{ convertTo }}
  </div>

  <div>Do you want to import products to Germany?</div>
  <button
    class="import-button"
    (click)="calculateImportCosts()"
    [class.flashing]="shouldRecalculate"
  >
    {{ buttonCta }}
  </button>
</div>

<div *ngIf="isImport">
  <app-duties
    [totalCosts]="totalCosts"
    [convertTo]="convertToCurrency"
  ></app-duties>
</div>
