.rates-card {
  max-width: 100%;
  margin: 20px;
  padding: 10px 20px;
  border: 3px solid black;
  box-shadow: 20px 10px 0 wheat;
  background-color: white;

  .convert-select-container {
    display: inline-block;
    margin: 10px 20px 10px 0;
  }

  .base-exchange-container {
    display: block;
    margin: 10px 0;
  }

  .purchase-value-container {
    display: inline-block;
    margin: 20px 0;
    min-width: 225px;
  }

  .shipping-value-container {
    display: inline-block;
    margin: 20px 0 0 50px;
  }

  .label {
    display: block;
    margin-bottom: 2px;
  }

  .input {
    display: inline-block;
    width: 80px;
    margin-right: 5px;
  }
}
