<div *ngIf="convertTo !== 'EUR'" class="duties-card">
  {{ "IMPORT_EURO_INFO" | translate }}
</div>

<div *ngIf="convertTo === 'EUR'" class="duties-card">
  <span>{{ "IMPORT_FROM" | translate }}</span>

  <div class="radio-button-container">
    <input
      class="radio"
      id="none-eu"
      type="radio"
      value="none-eu"
      name="location"
      [checked]="!isEuLocation"
      (click)="onEuLocationChange(false)"
    />
    <label for="none-eu">{{ "NONE_EU_COUNTRY" | translate }}</label>
  </div>

  <div class="radio-button-container">
    <input
      class="radio"
      id="eu"
      type="radio"
      value="eu"
      name="location"
      [checked]="isEuLocation"
      (click)="onEuLocationChange(true)"
    />
    <label for="eu">{{ "EU_COUNTRY" | translate }}</label>
  </div>

  <div *ngIf="!isEuLocation" class="sales-tax-container">
    <span>{{ "SALES_TAX_INFO" | translate }}</span>

    <div class="checkbox-container">
      <input
        #checkbox
        id="de"
        type="checkbox"
        value="de"
        name="tax-type"
        [checked]="isStandardTax"
        (click)="onIsDeStandardTaxChange()"
      />
      <span class="checkmark" (click)="checkbox.click()"></span>
      <label for="de">{{ "STANDARD_TAX_RATE" | translate }}</label>
    </div>

    <div class="sales-tax">
      <span>
        {{ "SALES_TAX" | translate }} ({{ (getTaxRate() * 100).toFixed() }}%):
      </span>
      <span> {{ calculateSalesTax().toFixed(2) }} {{ convertTo }} </span>
    </div>
  </div>

  <div class="sales-tax">
    <div class="sales-tax-excluded" *ngIf="!isEuLocation">
      <span>{{ "TOTAL_COSTS_WITHOUT_TAX" | translate }}</span>
      <span> {{ calculateTotalCostsWithoutTax() }} {{ convertTo }} </span>
      <br />
    </div>
    <div class="sales-tax-included">
      <span>{{ "TOTAL_COSTS" | translate }}</span>
      <span> {{ calculateTotalCosts().toFixed(2) }} {{ convertTo }} </span>
    </div>
  </div>

  <div *ngIf="!isEuLocation" class="duties-container">
    <p class="duties-info">
      {{ "DUTIES_INFO" | translate }}
    </p>
    <div *ngIf="hasDuties()" class="calculated-duties">
      <span translate [translateParams]="{ rate: 6 }">
        TOTAL_COSTS_WITH_DUTY
      </span>
      {{ getTotalCostsWithDuties(0.06).toFixed(2) }}
      {{ convertTo }}
    </div>

    <div *ngIf="hasDuties()" class="calculated-duties">
      <span translate [translateParams]="{ rate: 12 }">
        TOTAL_COSTS_WITH_DUTY
      </span>
      {{ getTotalCostsWithDuties(0.12).toFixed(2) }}
      {{ convertTo }}
    </div>
  </div>
</div>
