$light-purple: #9f95df;
$medium-purple: #463e7a;
$dark-purple: #2b264e;

.duties-card {
  width: 450px;
  margin: 20px;
  padding: 20px;
  border: 1px solid $light-purple;
  border-radius: 10px;

  box-shadow: 15px 15px 42px -10px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: 15px 15px 42px -10px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 15px 15px 42px -10px rgba(0, 0, 0, 0.42);

  .radio-button-container {
    display: grid;
    grid-template-columns: 16px auto;
    gap: 8px;

    input.radio {
      -webkit-appearance: none;
      appearance: none;
      margin: 0;
      margin-top: 7px;
      display: grid;
      place-content: center;
      font: inherit;
      width: 18px;
      height: 18px;
      background-color: $dark-purple;
      border: 1px solid $light-purple;
      border-radius: 50%;
      color: $light-purple;
      cursor: pointer;
      transform: translateY(-1.2px);

      &:before {
        content: "";
        width: 8px;
        height: 8px;
        border-radius: 50%;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        box-shadow: inset 16px 16px $light-purple;
      }

      &:checked::before {
        transform: scale(1);
      }
    }

    label {
      margin-top: 5px;
    }
  }

  .sales-tax-container {
    margin-top: 10px;

    .checkbox-container {
      display: block;
      position: relative;
      padding-left: 28px;
      margin-top: 7px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      &:hover input ~ .checkmark {
        background-color: $medium-purple;
      }

      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:checked ~ .checkmark {
          background-color: $dark-purple;
        }

        &:checked ~ .checkmark:after {
          display: block;
        }
      }

      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 16px;
        width: 16px;
        background-color: $dark-purple;
        border: 1px solid $light-purple;
        border-radius: 3px;

        &:after {
          content: "";
          position: absolute;
          display: none;
          top: 2px;
          left: 5px;
          width: 3px;
          height: 7px;
          border: solid $light-purple;
          border-width: 0 3px 3px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
    }

    .sales-tax {
      margin-top: 8px;
    }
  }

  .sales-tax {
    display: block;
    margin: 10px 20px 10px 0;

    &-excluded {
      color: rgb(232, 247, 26);
    }
    &-included {
      color: rgb(63, 247, 26);
    }
  }

  .duties-container {
    .duties-info {
      font-size: 13px;
    }
    .calculated-duties {
      color: rgb(232, 247, 26);
    }
  }
}
